version: "3.9"

services:
  api:
    container_name: fastapi-app
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      # docker-compose 네트워크 안에서 redis 컨테이너 이름으로 접속
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"   # 로컬에서 redis-cli로 접속하고 싶으면 열어두고, 필요 없으면 지워도 됨
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  redis-data:
