version: "3.9"

services:
  api:
    container_name: fastapi-app
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - REDIS_URL=redis://redis:6379/0
      # ✅ DB 호스트를 localhost가 아니라 db 서비스 이름으로
      - DATABASE_URL=postgresql+psycopg2://mental_admin:9641@postgres-db:5432/mentalcare
      - DATABASE_URL_SYNC=postgresql+psycopg2://mental_admin:9641@postgres-db:5432/mentalcare
    depends_on:
      - db
      - redis

  db:
    container_name: postgres-db
    image: postgres:16
    environment:
      POSTGRES_DB: mentalcare
      POSTGRES_USER: mental_admin
      POSTGRES_PASSWORD: 9641
    ports:
      - "5432:5432"   # 로컬에서 pgAdmin 같은 걸로 접속하고 싶으면 유지
    volumes:
      - pg-data:/var/lib/postgresql/data

  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: ["redis-server", "--appendonly", "yes"]

volumes:
  pg-data:
  redis-data:
